EXAMPLE_DB_URL=DB_URL
EXAMPLE_URL=URL
EXAMPLE_AUTH_URL=AUTH_URL
EXAMPLE_AUTH_SECRET=AUTH_SECRET
EXAMPLE_GIT_ID=GIT_ID
EXAMPLE_GIT_SECRET=GIT_SECRET
EXAMPLE_GOOG_ID=GOOG_ID
EXAMPLE_GOOG_SECRET=GOOG_SECRET