@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
  /* Replace with the desired track color */
}

/* Thumb style */
::-webkit-scrollbar-thumb {
  border-radius: 0.6em;
  background: #ccc;
  /* Replace with the desired thumb color */
}

::-webkit-scrollbar-thumb:hover {
  background: #ddd;
  /* Replace with the desired hover color */
}

/* Thumb active style */
::-webkit-scrollbar-thumb:active {
  background: #aaa;
  /* Replace with the desired active color */
}

.bg-dots {
  background:
    linear-gradient(90deg, #f9fafb 15px, transparent 1%) 50%,
    linear-gradient(#f9fafb 15px, transparent 1%) 50%,
    rgba(0, 0, 0, 0.24);
  background-size: 16px 16px;
}

.pageWrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 4rem;
  border-bottom: 1px dashed #ccc;
  margin-top: 4rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.boxSection {
  flex: 1.1;
  border-right: 1px dashed #ccc;
  padding-bottom: 4rem;
  padding-right: 4rem;
  @media screen and (max-width: 768px) {
    border: none;
  }
}

.boxSectionTwo {
  flex: 1.1;
  padding-left: 4rem;
}
